<div class="d-flex justify-content-center ui-mt-2">
  <wda-add-item-form (create)="onCreate$.next($event)"></wda-add-item-form>
</div>

<div>
  <ng-container *ngFor="let wishlist of wishlistItems$ | async; last as isLast">
    <ui-wishlist-item
      [title]="wishlist.title"
      [description]="wishlist.description"
      [isShowSeparotor]="!isLast"
      (update)="onUpdate$.next([wishlist.id, $event])"
      (delete)="onDelete$.next(wishlist.id)"
    ></ui-wishlist-item>
  </ng-container>
</div>
